*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*.main {
    background-image: url(images/cat-4611189_1920.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    padding-top: 5%;
  }*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #decfac;
    font-family: 'Playfair Display', serif;
}
.logo{
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 5px;
    font-size: 20px;
}
/* This controls shape of the nav bar */
.nav-links{
    display: flex;
    position: absolute;
    right: 0px;
    height: 95vh;
    top: 8vh;
    background-color: #decfac;
    opacity: 85%;
    flex-direction: column;
    align-items: center;
    width: 20%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.nav-links li{
    list-style: none;
    padding: 10%;
    opacity: 0;
}

.burger{
    display: block;
    cursor: pointer;
    padding-left: 20%;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.4s ease;
}

/* for smaller screens */
@media screen and (max-width:880px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 93vh;
        top: 8vh;
        background-color: #decfac;
        opacity: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        list-style: none;
        padding: 8%;
        opacity: 0;
    }
}
.nav-active{
    transform: translateX(0%);

}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}

/* rotating the burger */
.toggle .line1{
    transform: rotate(-90deg) translate(-10px,14px);

}

.toggle .line2{
    transform: rotate(-90deg) translate( -2px,7px);
}

.toggle .line3{
    transform: rotate(-90deg) translate( 6px,0px);
}